# 1. Download your Firebase Admin SDK service account JSON file from the Firebase Console:
# Settings > Service Accounts > Generate New Private Key
# 2. Rename it to `serviceAccountKey.json` and place it in this `backend` folder.
# 3. Do NOT commit it to github!

# Optional explicit path
FIREBASE_KEY_PATH=serviceAccountKey.json
